

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.image {
  display: block;
  width: 100%;
  height: auto;
}

.photo-container {
	display: block;
	margin-left: auto;
	margin-right: auto;
    margin-top: 20px;
	width: 510px;
	height: 510px;
    position: relative;
}

.image {
    object-fit: cover;
    width: 510px;
    height: 510px;
    position: absolute;
}
/*
#overlay-1, #overlay-2, #overlay-3,
#overlay-4, #overlay-5, #overlay-6, #overlay-7, #overlay-8, #overlay-9 {
    z-index: 2;
    position: absolute;
    height: 170px;
    width: 170px;
    background-color: rgba(0, 0, 0, 1);
}

<<<<<<< HEAD
.parent {
  height: 0;
  position: relative;
}

.child {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
}

.child > * {
	width:50%;
	font-size: 200%;
}











=======
 {
    z-index: 2;
    position: absolute;
    height: 170px;
    width: 170px;
    background-color: rgba(0, 0, 0, 0);
}
*/
.overlay {
  z-index: 3;
  position: relative;
  height: 170px;
  width: 170px;
  background-color: rgb(204, 204, 204, 1);
  transform: 1s;
}

.overlay1 {
  z-index: 2;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 510px;
  width: 510px;
  /* background-color: rgba(0, 0, 0, 0.5); */
}
>>>>>>> 0b1767ec1d96ebddbbeeb17204b69290bd286fcd
