

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.image {
  display: block;
  width: 100%;
  height: auto;
}

.photo-container {
	display: block;
	margin-left: auto;
	margin-right: auto;
    margin-top: 20px;
	width: 510px;
	height: 510px;
    position: relative;
}

.image {
    object-fit: cover;
    width: 510px;
    height: 510px;
    position: absolute;
}

.login-body {
	height: 100%
	width: 100%;
    background-image: url("login-background.jpg");
    background-color: red;
}

body{
   
	background-image: url("../assets/login-background.jpg");
}

.vertical-offset-100{
    padding-top:100px;
}

.panel-body {
	background-color: white;
	    box-shadow: 0px 8px 20px ;
	    border-radius: 10px;
}
.navbar-raketa {
 	background-color: white;
}

.loading {
	
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.loading-finish {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}



 {
    z-index: 2;
    position: absolute;
    height: 170px;
    width: 170px;
    background-color: rgba(0, 0, 0, 0);
}

.overlay {
  z-index: 3;
  position: relative;
  height: 170px;
  width: 170px;
  background-color: rgb(204, 204, 204, 1);
  transition: 1s;
}

.overlay1 {
  z-index: 2;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 510px;
  width: 510px;
  /* background-color: rgba(0, 0, 0, 0.5); */
}
.winner-name {
	text-align: center;
	
    display: none;
}